/node_modules
/public/storage
/public/export/
/public/zip/
/public/syncs/
/public/bower_components
storage/
/vendor
/modules/Modularization/.git
/modules/BlockChain/sol/node_modules
/modules/BlockChain/truffle/node_modules
/.idea
Homestead.json
Homestead.yaml
.env