<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <style> ::selection {
        background: white; /* WebKit/Blink Browsers */
    } </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid" style="padding-top: 20px">
    <div class="row">
        <div class="col-lg-12 form-group">
            <button class="btn btn-primary" id="createNewWalletBtn">Create new wallet</button>
            <ul></ul>
        </div>
        <div class="col-lg-12 form-group">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Address</th>
                    <!--<th scope="col">Mnemonic</th>-->
                    <!--<th scope="col">Private key</th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody id="contentTable">

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
<!--Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="sendForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Send</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="private_key" id="private_key">
                <div class="form-group">
                    <label>Address to</label>
                    <input type="text" class="form-control" name="to">
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input class="form-control" name="amount" min="0.00000001">
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button class="btn btn-primary">Done</button>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>

<script>
    const electron = require('electron');
    const {ipcRenderer} = electron;
    const ul = document.querySelector('ul');

    ipcRenderer.on('item:add', function (e, item) {
        const li = document.createElement('li');
        const itemText = document.createTextNode(item);
        li.appendChild(itemText);
        ul.appendChild(li);
    });

    const createNewWalletBtn = '#createNewWalletBtn';
    $(createNewWalletBtn).click(function () {
        ipcRenderer.send('wallet:create', '');
    });

    ipcRenderer.on('wallet:store', function (e, wallet) {
        console.log(wallet.signingKey.mnemonic);
        alert(wallet.signingKey.mnemonic);
    });

    ipcRenderer.send('wallet:index', '');

    ipcRenderer.on('wallet:index', function (e, wallets) {
        let content = '';
        for (let wallet of wallets) {
            content += `
            <tr>
                <td>${wallet.signingKey.address}</td>
                <td>
                    <button onclick="setPrivateKey('${wallet.signingKey.privateKey}')"
                    class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Send</button>
                </td>
            </tr>
            `
            // <td>${wallet.signingKey.mnemonic}</td>
            // <td>@${wallet.signingKey.publicKey}</td>
        }
        $('#contentTable').html(content);
    });

    function setPrivateKey(privateKey) {
        $('#private_key').val(privateKey);
        // alert(privateKey);
    }

    $('#sendForm').submit(function (e) {
        e.preventDefault();
        const self = $(this);
        const data = self.serializeJSON();
        ipcRenderer.send('wallet:send', data);
        $('#myModal').modal('hide');
    });

    ipcRenderer.on('wallet:sent', function (e, result) {
        if(result == 200) {
            alert('Send Successful');
        } else {
            alert('Send Fail');
        }
    });
</script>
</body>
</html>